<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PryvApiSwiftKitExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3D70D32248A2FE900A1A247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3D70D48248A2FEA00A1A247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3D70D53248A2FEA00A1A247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
